<div class = "landing-wrap">
  <h1 class = "landing">Welcome to Tombo</h1>
  <h3 class = "landing">a sound sharing community</h3>
  <%= image_tag("logo-large.png", alt: "tombo_logo_large", class: "logo-large") %>
  <div class = "button-wrap">
    <%= link_to "Sign up!", new_user_path, class: "sign-up-button" %>
  </div>
</div>
