<% provide(:title, 'About') %>
<div id = "about-wrap">
  <h1>About</h1>
    <p>
    Tombo is a sound sharing community for musicians, artists, designers. 
    Join the commnity and learn about new music, while sharing the music
    you create with others.
    </p>
</div>
