<% provide(:title, 'About') %>
<div id = "about-wrap">
  <h1>About</h1>
    <p>
    Tombo is a sound sharing community for musicians, artists,
    and sound designers. Join us to learn about new music, 
    while sharing the music you create with others.
    </p>
</div>
