<% provide(:title, "Track") %>
<%= render 'shared/show_sidebar' %>
<div class = "audio-wrap">
  <%= render 'track', track: @track %>
</div>
<div class = "track-content-wrap">
  <%= render 'description' %>
  <%= render 'comments' %>
</div>
