<% provide(:title, @user.name) %>
<div class = "sidebar">
  <h1 class = "pull-left">
  <%= gravatar_for @user, size: 100 %>
  <%= @user.name %>
  </h1>
</div>
<div class = "audio-wrap">
  <ul class = "tracks">
  <% if @user.tracks.any? %>
    <% @user.tracks.each do |track| %>
      <%= render 'tracks/track', track: track %>
    <% end %>
  <% end %>
  </ul>
</div>

