<% provide(:title, @user.name) %>
<div class = "sidebar">
  <%= render 'shared/user_info' %>
</div>
<div class = "audio-wrap">
  <ul class = "tracks">
  <% if @user.tracks.any? %>
    <% @user.tracks.each do |track| %>
      <%= render 'tracks/track', track: track %>
    <% end %>
  <% end %>
  </ul>
</div>

