<div class = "dropdown ">
  <%= link_to gravatar_for(current_user, size: 14) + " " + current_user.name,
    "#", class: "dropdown-toggle pull-right" %>
    <ul class="dropdown">
      <li>
        <%= link_to "profile", current_user, class: "orange" %>
      </li>
      <li>
        <%= link_to "update", edit_user_path(current_user), class: "blue" %>
      </li>
      <li>
        <%= link_to "sign out", signout_path, class: "red" %>
      </li>
    </ul>
</div>
