<h1 class = "pull-left">
  <%= gravatar_for @user, size: 100 %>
  <div class = "info">
    <h4><%= @user.name %></h4>
    <% if current_user == @user %>
      <%= link_to "update profile", edit_user_path(@user), class: 'update' %>
    <% end %>
  </div>
</h1>

