/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
	margin: 0;
	background-color: #303030;
	color: #eee;
  font-family: "baskerville", serif;
  font-weight: 100;
}

a {
	text-decoration: none;
	color: #eee;
	text-align: middle;
	padding: 0 10px;
  margin: 0;
}

a:hover {
  color: #ccc;
}



div#main-content {
	width: 1000px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
  padding-bottom: 40px;
	background-color: #353535;	
	padding-top: 25px;
}

h1 {
  font-size: 1.3em;
  font-weight: 100;
  margin: 0;	
  text-align: center;
}

/*--------- landing -----------------*/

h1.landing {
  color: #fff;
  font-size: 3em;
}

h3.landing {
  font-weight: 100;
  color: #ccc;
  font-size: 1.3em;
  text-align: center;
  margin: 0;
}

img.logo-large {
  display: block; 
  margin: 15px auto;
  width: 250px;
  height: 250px;
}


.sign-up-button {
  display: inline-block;
  width: 150px;
  line-height: 35px;
  border: 1px solid #fff;
  text-decoration:none;
  margin: 3px;
}

.sign-up-button:hover {
  border: 1px solid #FC575E;
}


.button-wrap {
  text-align: center;
  margin-bottom: 20px;
}

/*--------- header -----------------*/

header {
	border-bottom: dotted 1px #999;
}

.header-content {
	width: 1000px;
	height: 58px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	float: left;
	margin: 0;
	padding: 5px 0;
	height:48px;

}


#logo img {
	width: 48px;
	height: 48px;
}

nav {
	float: left;
	vertical-align: middle;

}

ul {
	list-style: none;
	margin: 0;
}

nav li {
	display: inline-block;
}

header a {
	text-decoration: none;
	display: inline-block;	
	color: #eee;
	height: 100%;
	line-height: 58px;
	text-align: middle;
	padding: 0 10px;
  margin: 0;
}

.pull-right {
	float: right;
}

a.orange:hover {
	background-color: #F7B42C;
	color: #FDF0D5;
}

a.red:hover {
	background-color: #FC575E;
	color: #FEDDDF;
}

a.blue:hover {
	background-color: #90D5EC;
	color: #E9F7FB;
}

a.green:hover {
  background-color: #AAD450;
	color: #FDF0D5;
}

a.purple:hover {
  background-color: #657DAF;
	color: #E9F7FB;
}

/*------- dropdown menu ------------*/

div.dropdown {
  float:right;
  position: relative;
}

a.dropdown-toggle:hover{ 
  color: #aaa;
}

ul.dropdown {
  padding: 0;
  text-align: right;
  display: none;
  position: relative;
  z-index: 999;
  background-color: #303030;
  border-top: 1px dotted #999;
}

ul.show {
  position: absolute;
  display: block;
  top: 58px;
  right: 0;
}

ul.dropdown li a {
  width: 100px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  border-bottom: 1px dotted #999;
}


/*------- user profile ------------*/
.sidebar {
  padding: 0 10px;
  width: 285px;
  margin-right: 15px;
  float: left;
  height: 800px;
}

a.user {
  padding: 0;
  float: left;
  line-height: 35px;
}

.stats a {
  padding: 0 10px 0 0;
  line-height: 40px;
}

.stats a:hover {
  color: #aaa;
}

.bio {
  margin-top: 15px;
}

ul.audio {
  padding: 0;
}

.audio-wrap {
  float:left;
}

/*------- home ------------------*/

h1.pull-left {
  margin: 0;	
}

h1 img {
  float: left;
}

h4 {
  text-align: left;
  font-weight: 100;
  font-size: 1.5em;
  margin: 0;
}

div.info {
  float: left;
  width: 180px;
  margin-left: 5px; 
  word-wrap: break-word;
  overflow: hidden;
}

h2 {
  border-bottom: 1px solid #90D5EC;
  font-weight: 100;
  font-size: 1.5em;
}


a.update {
  text-align: left;
  padding: 0;
  width: 86px;
  display: block;
  font-size: 15px;
  line-height: 20px;
  font-weight: 100;
  border-bottom: 1px solid #F7B42C;
}

a.update:hover {
  color: #ccc;
  border-bottom: 1px solid #D7940C;
}

/*------- sign in up ------------*/

label {
	display: block;
	margin-bottom: 3px;
}

.form-element {
	margin: 10px 10px 10px 0;
}

.form-element input.track {
  width: 279px;
}

.form-element input {
  width: 294px;
}

.form-element textarea {
  width: 298px;
  resize: none;
}


#form-wrap {
	width: 300px;
	margin-left:auto;
	margin-right:auto;
}


#form-wrap h1 {
  border-bottom: 1px solid #90D5EC; 
  padding-bottom: 5px;
}

.button {
  width: 150px;
  height: 25px;
  padding-bottom: 4px;
  margin: 5px 0 5px 0;
  font-size: 0.8em;
  text-decoration:none;
  border: none;
  cursor: pointer;
}

.form-element .button {

  width: 300px;
}

.button.red {
  background-color: #FC575E;
  color: #FEDDDF;
}

.button.green {
  background-color: #AAD450;
  color: #FDF0D5;
}

/*--users index---------------*/

.users-wrapper {
  padding: 0 40px 0 40px;
}

.show-follow-wrapper {
  float: left;
  width: 650px;
}

.pagination-wrapper {
  width:100%;
  text-align: center;
}

ul.users {
  padding: 0
}


ul.users li {
  height: 58px;
  margin-bottom: 15px;
  border-bottom: 1px solid #FC575E
}

ul.users li a {
  height: 58px;
  padding: 0;
}

.pagination {
  display: inline-block; 
}

/*-- tracks list --------------------*/

ul.tracks {
  margin: 0;
  padding-left: 8px;
  border-left: 1px solid #AAD450;
}

li.track {
	list-style: none;	
  padding: 0;
  margin-bottom: 15px;
}

.play-pause {
	background-color: #555;
	float:left;
	width: 45px;
	height: 30px;
	background-repeat:no-repeat;
	background-position: center center;
}

.play-pause:hover {
  background-color: #FC575E;
}

li.playing .play-pause {
  background-color: #FC575E;
}

.play {
	background-image: url('play.png');
}

.pause {
	background-image: url('pause.png');
	display: none;
}

li.track span {
	margin-left: 10px;
	line-height: 30px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	vertical-align: center;
}

li.track span.created_at {
  font-style: italic;
  font-size: .8em;
  font-weight: 100;
}

li.track span.timer {
  float: right;
  font-size: .8em;
}

li.track a.delete {
  line-height: 30px;
  font-size: .8em;
  font-weight: 100;
  color: #FC575E;
}

li.track a.delete:hover {
  color: #DC373E;
}

li.track a.user-name {
  font-size: .7em;
  padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	vertical-align: center;
}

li.track a img {
  vertical-align: middle;
}

.progress-bar {
	background-color: #aaa;
	margin-top: 3px;
	height: 15px;
	width: 650px;
}

li.track span.progress {
  margin: 0;
	height: 15px;
	width: 0;
	display: inline-block;
	background-color: #a67;
}


/*-- pagination --------------------*/

.pagination {
  font-size: 0;
  margin-top: 7px;
  border-bottom: 1px solid #555;
}

.pagination a {
  line-height: 30px;
  display: inline-block;
  border-left: 1px solid #353535;
  border-right: 1px solid #353535;  
  margin-left: 0;
  font-size: 15px;
  padding: 0 10px;
}

div.pagination em {
  font-size: 15px;
  display: inline-block;
  font-style: normal;
  padding: 0 10px;
  line-height: 30px;
  text-align: middle;
}

div.pagination em.current {
  border: 1px solid #FC575E;  
}

.pagination a:hover {
  border: 1px solid #AAD450;
}

.pagination span.disabled {
  font-size: 15px;
  color: #555;
  display: inline-block;  
  line-height: 30px;
  padding: 0 10px;
}

/*-- errors --------------------*/

label.message {
  position: absolute;
  left: 320px;
  top: 2px;
  color: #FC575E;
  white-space: nowrap;
}

div#form_errors, .error {
  color: #FC575E;
}

div#form_errors ul {
  padding: 0;
  margin-top: 10px;
}


div.field_with_errors {
  position: relative;
}
/*-- alerts --------------------*/
.alert {
  text-align: center;
  height: 35px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  color: #444;
}

a.flash {
  padding: 0;
  line-height: 1em;
}

a.flash:hover {
  color: #aaa;
}

.alert-error {
  background-color: #FC575E;
}

.alert-success {
  background-color: #AAD450;
}

/*-- footer --------------------*/
footer {
	border-top: dotted 1px #999;
}

.footer-content {
  width: 1000px;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
}

.footer-content a {
  float: right;
  margin: 7px 0;
}

.footer-content a:hover {
  color: #aaa;
}

/*-- clear-fix --------------------*/

/* For modern browsers */
#main-content:before,
#main-content:after {
    content:"";
    display:table;
}
#main-content:after {
    clear:both;
}

h1.pull-left:before,
h1.pull-left:after {
    content:"";
    display:table;
}
h1.pull-left:after {
    clear:both;
}


/* For IE 6/7 (trigger hasLayout) */
h1.pull-left {
    zoom:1;
}


