<footer>
  <div class = "footer-content">
    <%= link_to "about", about_path, class: "orange" %>
    <%= link_to "home", root_path, class: "red" %>
    <%= mail_to "wrchapin@gmail.com", "contact", class: "blue" %>
  </div>
</footer>
